// Footer
footer.footer
	.container
		.row
			.col-xs-12.mt-4.mx-auto
				ul.list-unstyled.list-inline.social.text-center
					li.list-inline-item
						a(href='https://github.com/cdhaoui/survivalofthebestfit-group-engagement')
							i.fab.fa-github.fa-lg

		row
			.col-xs-12.my-2.text-center.mx-auto
				p 
					| &copy 2024 Copyright.
					a.ml-2(href="https://github.com/cdhaoui/survivalofthebestfit-group-engagement") Survival of the Best Fit - Group Engagement Edition

script(src='./vendor/jquery/jquery.min.js')
script(src='./vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='./vendor/jquery-easing/jquery.easing.min.js')
script(src='scripts-website.min.js')